<div class="container-fluid pageContainer">
    <div class="row-fluid">
        <div class="col-md-2">
            <a href="/">
                <i class="font-svg-home"></i>
            </a>
        </div>
        <div class="col-md-10">
            <!--Body content-->
            <div class="row">
                <h2>Latest Quotes</h2>
                <!--{{vm.latestQuote}}-->
                <div style="border:1px solid #cccccc; margin-bottom: 10px" ng-repeat="v in vm.latestQuote">
                    <div >{{v.date}}</div>
                    <div style="font-weight: bold">{{v.kidName}}</div>
                    <div >{{v.quote}}</div>
                </div>
            </div>

            <div class="row">
                <h2>Add a New Quote</h2>
            </div>
        </div>

    </div>
</div>